* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.agendamentos-page {
  min-height: 100vh;
  width: 100vw;
  background: #2b2b2b;
  color: white;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.titulo {
  font-size: 48px;
  font-weight: bold;
  margin: 0 0 55px 0;
  padding-top: 0px;
  padding-left: 235px;
  padding-top: 50px;
}

.agendamentos-lista {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
  padding-top: 35px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  /* max-height: 500px; */
  /* overflow-y: auto; */
  /* overflow-x: hidden;       */
  /* scrollbar-width: thin; */
}

.card-agendamento {
  background-color: #0D0D0D;
  border-radius: 12px;
  padding: 24px 32px;
  margin: 12px 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 95%;           
  margin-left: 60px;    
  min-width: 350px;     
  box-sizing: border-box;     
  
}
.card-topo {
  flex: 1;
}

.card-topo p {
  margin: 0 0 22px 0;
}

.card-veiculo {
  font-size: 1.1rem;
  font-weight: 500;
}

.card-data,
.card-entrega {
  font-size: 0.95rem;
  color: #ccc;
}

.card-lateral {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  min-width: 180px;
}

.card-status {
  margin-top: 0;
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.status-tag {
  padding: 6px 18px;
  border-radius: 8px;
  background: #fff;
  color: #f97316;
  font-weight: 600;
  font-size: 0.95rem;
}

.status-pendente {
  color: #f97316;
}

.status-em-atendimento {
  color: #3b82f6;
}

.status-concluido {
  color: #22c55e;
}

.status-cancelado {
  color: #e53e3e;
}

.card-servico {
  font-size: 0.95rem;
  color: #ffff;
}

.card-acoes {
  display: flex;
  gap: 12px;
  margin-top: 0;
}

.btn-detalhes,
.btn-cancelar {
  padding: 8px 24px;
  min-height: 38.4px;
  border-radius: 10px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.2s, color 0.2s;
}

.btn-detalhes {
  background: #f97316;
  color: #fff;
}

.btn-detalhes:hover {
  background: #f97316;
  color: #fff;
}

.btn-cancelar {
  background: #fff;
  color: #e53e3e;
}

.btn-cancelar:hover {
  background: #e53e3e;
  color: #fff;
}

.sem-agendamentos {
  background-color: #0D0D0D;
  border-radius: 12px;
  padding: 40px 32px;
  margin: 80px auto;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 90%;
  max-width: 600px;
  border: 2px dashed #f97316;
}

.sem-agendamentos p {
  color: #ffffff;
  margin-bottom: 12px;
  line-height: 1.5;
}

.sem-agendamentos p:first-child {
  font-size: 1.2rem;
  font-weight: bold;
  color: #f97316;
  margin-bottom: 16px;
}

.sem-agendamentos p:last-child {
  color: #f97316;
  font-weight: 500;
  margin-bottom: 0;
}