.filter-wrapper {
  width: 76%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 16px 16px 16px 16px;
  padding-top: 25px;
  background-color: #f7f7f7;
  border: 1px solid #dedede;
  padding-top: 25px;
  margin-right: 153px;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.18);
}

.filter-group {
  display: flex;
  flex-direction: column;
}

.filter-label {
  font-size: 0.78rem;
  font-weight: 500;
  color: #555;
  margin-bottom: 4px;
  margin-left: 7px;
}


/* .filter-wrapper, .title-filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
} */

.title-filter {
  display: flex;
  margin-top: -10px;
  justify-content: flex-start;
  font-size: 1.3rem;
  color: #2b2b2b;
  font-weight: 600;
  /* margin-bottom: 16px; */
  align-self: flex-start;
  padding: 0 0 30px 0;
  padding-left: 8px;
}

/* .acao-container {
  padding-right: 170px;
} */

.acao-button {
  background-color: #007A4D;
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: 500;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.2s ease;
  justify-content: end;
}

.acao-button:hover {
  background-color: #00603d;
}

.filter-bar {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  justify-content: flex-start;
}

.search-container {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  padding: 8px 12px;
  width: 300px;
  border: 1px solid #ddd;
}

.search-icon {
  color: #f97316;
  margin-right: 8px;
}

.search-input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 0.875rem;
  color: #374151;
  background-color: white;
  padding: 6px 0;
  box-shadow: none;
}

.search-input::placeholder {
  color: #fb923c;
}

.filter-button {
  display: flex;
  align-items: center;
  /* align-self: flex-end; */
  gap: 8px;
  margin-left: auto;
  background-color: #ffff;
  color: #f4a100;
  padding: 8px 16px;
  border-radius: 9999px;
  font-weight: 500;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease;
  border: none;
  cursor: pointer;
}

.filter-button:hover {
  background-color: #f97316;
  color: white;
}

.clear-dates {
  display: flex;
  align-items: center;
  margin-top: 20px;
  justify-content: center;
  background-color: white;
  color: black;
  width: 30px;
  height: 30px;
  margin-right: 0px;
  border: 1px solid #ddd;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  transition: all 0.3s ease;
}

.clear-dates:hover {
  transform: translateY(-2px);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.clear-dates:active {
  transform: translateY(0);
}

.container-status {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 1px solid #ddd;
  width: 135px;
  height: 45px;
  border-radius: 20px;
}

.status-balls {
  display: flex;
  gap: 10px;
  align-items: center;
}

.status-ball {
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);

  box-shadow:
    0 4px 10px rgba(0, 0, 0, 0.15),
    0 1px 4px rgba(0, 0, 0, 0.1),
    inset 0 -1px 0 rgba(255, 255, 255, 0.4),
    inset 0 1px 3px rgba(0, 0, 0, 0.08);

}

.status-ball:hover {
  box-shadow:
    0 8px 20px rgba(0, 0, 0, 0.25),
    0 3px 10px rgba(0, 0, 0, 0.18),
    inset 0 -2px 0 rgba(255, 255, 255, 0.7),
    inset 0 1px 2px rgba(0, 0, 0, 0.08);

  transform: translateY(-2px);
}

.date-input {
  padding: 8px 12px;
  border-radius: 20px;
  border: 1px solid #ddd;
  outline: none;
  color: #f4a100;
  background-color: white;
  /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); */
}