.filter-wrapper {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 16px;
  padding-left: 235px;
  padding-top: 25px;
}

.acao-container {
  padding-right: 170px;
}

.acao-button {
  background-color: #27ae60;
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: 500;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.2s ease;
  justify-content: end;
}

.acao-button:hover {
  background-color: #229954;
}

.filter-bar {
  display: flex;
  align-items: center;
  gap: 35px;
  width: auto;
}

.search-container {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 9999px;
  padding: 8px 12px;
  width: 300px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.search-icon {
  color: #f97316;
  margin-right: 8px;
}

.search-input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 0.875rem;
  color: #374151;
  background-color: white;
  padding: 6px 0;
  box-shadow: none;
}

.search-input::placeholder {
  color: #fb923c;
}

.filter-button {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #ffff;
  color: #f4a100;
  padding: 8px 16px;
  border-radius: 9999px;
  font-weight: 500;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease;
  border: none;
  cursor: pointer;
}

.filter-button:hover {
  background-color: #f97316;
  color: white;
}

.status-balls {
  display: flex;
  gap: 10px;
  align-items: center;
}

.status-ball {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);

  box-shadow:
    0 6px 16px rgba(0, 0, 0, 0.2),
    0 2px 8px rgba(0, 0, 0, 0.15),
    inset 0 -1px 0 rgba(255, 255, 255, 0.6),
    inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

.status-ball:hover {
  box-shadow:
    0 8px 20px rgba(0, 0, 0, 0.25),
    0 3px 10px rgba(0, 0, 0, 0.18),
    inset 0 -2px 0 rgba(255, 255, 255, 0.7),
    inset 0 1px 2px rgba(0, 0, 0, 0.08);

  transform: translateY(-2px);
}

.date-input {
  padding: 8px 12px;
  border-radius: 20px;
  border: 1px solid #ddd;
  outline: none;
  color: #ffa500;
  background-color: white;
  /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); */
}