/* Botão hamburguer */
.hamburger-func {
  background: #F27405;
  border: none;
  cursor: pointer;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1001;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  width: 44px;
  height: 44px;
  padding: 0;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.hamburger-func:hover {
  background: #d96404;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.hamburger-line {
  width: 24px;
  height: 3px;
  background-color: #f4f4f4;
  border-radius: 1px;
  transition: all 0.3s ease;
}

.hamburger-func.open {
  left: 280px;
}

.hamburger-func.open .hamburger-line:nth-child(1) {
  transform: rotate(-40deg) translateY(3px) translateX(-3px);
  width: 18px;
}

.hamburger-func.open .hamburger-line:nth-child(2) {
  opacity: 0;
  transform: translateX(-20px);
}

.hamburger-func.open .hamburger-line:nth-child(3) {
  transform: rotate(40deg) translateY(-3px) translateX(-3px);
  width: 18px;
}


/* Overlay escuro */
.overlay-func {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
  z-index: 1000;
}

/* Sidebar */
.sidebar-func {
  position: fixed;
  top: 0;
  left: -260px;
  width: 260px;
  height: 100%;
  background: #e67e22;
  color: #fff;
  box-shadow: 2px 0 10px rgba(0,0,0,0.2);
  transition: left 0.3s ease;
  z-index: 1002;
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}

.sidebar-func.open {
  left: 0;
}

.sidebar-header-func {
  text-align: center;
  margin-bottom: 40px;
}

.logo-func {
  width: 15vh;
  max-width: 100%; 
  height: 13vh; 
  border-radius: 50%; 
}

/* Menu */
.sidebar-menu-func {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-menu-func li {
  margin: 40px 0;
}

.sidebar-menu-func a {
  color: #fff;
  text-decoration: none;
  font-size: 27px;
  font-weight: 500;
  transition: 0.3s;
}

.sidebar-menu-func a:hover {
  color: #333;
}

/* Botão sair */
.logout-func {
  background: red;
  border: none;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  margin-top: auto;
  width: 100%;
}
